.vs/VSWorkspaceState.json
.vs/ztm-rust-test/FileContentIndex/9562840c-cbb9-4ca7-abc7-e1fee4705dee.vsidx
.vs/slnx.sqlite
.vs/ztm-rust-test/v17/.suo
.vs/ztm-rust-test/FileContentIndex/read.lock
.vs/ztm-rust-test/FileContentIndex/fff43559-bbee-464a-bc93-1eab2c43b6c3.vsidx
/.vs/ztm-rust-test/FileContentIndex/230c4a2a-b6d2-4f64-ae02-e970a4ec1ca6.vsidx
/.vs/ztm-rust-test/FileContentIndex/49db6d45-5155-4e2c-bdd9-4e9622819858.vsidx
/.vs/ztm-rust-test/FileContentIndex/56bf0696-ad77-4df9-a2e4-18541ad39804.vsidx
/.vs/ztm-rust-test/FileContentIndex/d6cf8785-9fc0-4140-9beb-ee18e44ea327.vsidx
/.vs/ztm-rust-test/FileContentIndex
