.vs/VSWorkspaceState.json
.vs/ztm-rust-test/FileContentIndex/9562840c-cbb9-4ca7-abc7-e1fee4705dee.vsidx
.vs/slnx.sqlite
.vs/ztm-rust-test/v17/.suo
.vs/ztm-rust-test/FileContentIndex/read.lock
.vs/ztm-rust-test/FileContentIndex/fff43559-bbee-464a-bc93-1eab2c43b6c3.vsidx
